@(message: String)

@scripts = {
  <script src="@routes.Assets.at("js/websock.js")" type="text/javascript"></script>
}
@main("Radio letter", scripts) {

<div class="well">
  <h1>Radio letter</h1>
  <p>@message</p>
  <div class="container">
    <input id="username" type="text" placeholder="name"/><br>
    <textarea id="message" name="" cols="30" rows="4" style="width: 480px" placeholder="message"></textarea>
  </div>
  <div><input id="postButton" type="submit" value="送信" onClick="onClickSend()"></div>
</div>
}
